/* DISPLAYS */
body, #title, #board-container .box, form, #players {
  display: flex;
}

#board-container, #victory-message {
  display: none;
}

#victory-message {
  text-align: center;
}

.player, #board-display {
  display: grid;
}

body {
  flex-direction: column;
}

form, #board-container {
  flex-wrap: wrap;
}

body, #title, #board-container, #victory-message, .box, form, #players {
  justify-content: center;
}

#victory-message, .box {
  align-items: center;
}

.break {
  flex-basis: 100%;
}

/* FONTS */
html, input, button {
  font-family: 'Fredericka the Great', cursive;
}

/* COLORS */
body, html, button, input[type="text"] {
  color: rgba(255, 255, 255);
}

body, html, button, input[type="text"], #board-display {
  background-color: #2f4f4f;
}

/* BORDERS */

* {
  box-sizing: border-box;
}

.box {
  border: solid 3px rgba(255, 255, 255, 0.85);
}

button, input[type="text"] {
  border: none;
}

input[type="text"], input[type="radio"] {
  border-bottom: solid 2px white;
}

/* ANIMATIONS */
@-webkit-keyframes fadeInMark {
  0% {
    color: rgba(255, 255, 255, 0);
  }

  50% {
    color: rgba(255, 255, 255, 0.5);
  }

  100% {
    color: rgba(255, 255, 255, 1);
  }
}

.box:not(:empty) {
  animation: fadeInMark 0.4s;
  animation-iteration-count: 1;
}

#board-container button:hover {
  width: 40%;
}

button:hover, input[type="radio"]:hover {
  cursor: pointer;
}

button:hover {
  border: solid 2px rgba(255, 255, 255);
  border-top: solid 2px transparent;
  border-left: solid 2px transparent;
  border-right: solid 2px transparent;
  width: 20%;
}



body, html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  padding: 30px;
}

#title {
  width: 100%;
}

.break {
  height: 0;
}

#board-display {
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  height: 300px;
  width: 300px;
}

#victory-message {
  font-size: 5rem;
}

#board-container button {
  width: max-content;
  margin-top: 5px;
}

.box {
  height: 100px;
  width: 100px;
  font-size: 6em;
  padding-bottom: 20%;
}


.box:hover {
  cursor: pointer;
}

form {
  padding-top: 3rem;
  width: 100%;
}

#players {
  width: 100%;
  margin-bottom: 10px;
}

.player {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 0px 10px;
}

.player-pair {
  margin-bottom: 10px;
  grid-area: 1 / 1 / 2 / 3;
}

button {
  appearance: none;
  width: min-content;
  height: 3rem;
  font-size: 2rem;
}

input[type="text"] {
  appearance: none;
}

input[type="text"]:focus {
  outline: none;
}

input[type="radio"] {
  appearance: none;
  height: 20px;
  width: 20px;
}

.mark-pair {
  position: relative;
}

input[type="radio"]:checked + span:before {
  position: absolute;
  content: "✓";
  left: 10px;
}

