body, html {
  margin: 0;
  padding: 0;
  font-family: 'Fredericka the Great', cursive;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 30px;
}


#board-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#board-display {
  background-color: blue;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  border: solid 1px black;
  height: 300px;
  width: 300px;
}

.box {
  height: 100px;
  width: 100px;
  border: solid 1px black;
}

form {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.player {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin-left: 20px;
}

.player-pair {
  margin-bottom: 10px;
  grid-area: 1 / 1 / 2 / 3;
}

label[for="player1"] {
  color: blue;
}

label[for="player2"] {
  color: red;
}